* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 1rem;
}

#inputs {
  display: flex;
  flex-direction: column;
  max-width: 16rem;
  margin: 0 auto;
}

input {
  padding: 0.4rem;
  margin-top: 0.3rem;
}

#inputs button {
  margin: 1rem auto;
  padding: 0.6rem 1.2rem;
}

#ui {
  min-width: 30rem;
  max-width: 50rem;
  margin: 2rem auto;
  position: relative;
  width: 100%;
}

.floor {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.floor-box {
  display: flex;
  width: 100%;
}

.floor-container {
  width: 100%;
  height: 9rem;
  border-bottom: 0.2rem solid rgba(230, 61, 61, 0.722);
  display: flex;
  align-items: center;
}

.floor-text {
  width: 5rem;
  padding-left: 0.6rem;
  align-self: end;
}

.controllers {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.controllers button {
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 6px grey;
  cursor: pointer;
  font-weight: bold;
}

.up {
  background: #03b301;
}
.down {
  background: yellow;
}

.controllers button:hover {
  opacity: 0.6;
}
.controllers button:active {
  opacity: 0.8;
  transform: translateX(1px) translateY(1px);
}
.lift {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 7.2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.lift-box {
  height: 9rem;
  min-width: 4rem;
  overflow: hidden;
  border: 4px inset rgb(177, 173, 173);
  border-bottom: 0;
}
.lift-box::after,
.lift-box::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 50%;
  box-shadow: inset -2px 2px 6px 2px rgba(176, 176, 176, 1);
  transition: transform 2.5s ease-in-out;
}
.lift-box::before {
  background: linear-gradient(
    135deg,
    #f6f8f9 0%,
    #d5d1d1 20%,
    #e5e9ed 40%,
    #e8eaeb 60%,
    #f5f7f9 80%,
    #c6cccf 100%
  );
}

.lift-box::after {
  box-shadow: inset 2px 2px 10px 2px rgba(176, 176, 176, 1);
  background: linear-gradient(
    135deg,
    #cfd3d5 0%,
    #dfe5e8 21%,
    #e8eaeb 44%,
    #e9ecee 66%,
    #dee1e1 82%,
    #f6f8f9 100%
  );
}

.lift-box.open::after {
  transform: translate(100%);
}
.lift-box.open::before {
  transform: translate(-100%);
}

@media screen and (max-width: 650px) {
  #ui {
    min-width: 10rem;
    max-width: 20rem;
    margin-top: 0;
  }
  .floor-container {
    height: 4rem;
  }
  .floor-text {
    width: 3.2rem;
    font-size: 0.6rem;
  }
  .controllers {
    gap: 0.2rem;
  }
  .controllers button {
    padding: 0.1rem 0.4rem;
    font-size: 0.6rem;
  }
  .lift {
    left: 3.5rem;
    gap: 0.4rem;
    width: 65%;
  }
  .lift-box {
    height: 4rem;
    min-width: 2rem;
    border: 2px inset rgb(177, 173, 173);
  }
}
